@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

:root {
   /* LIST COLOR */
   --whiteColor: rgba(255, 255, 255, 1);
   --whiteColor-900: rgba(255, 255, 255, 0.9);
   --whiteColor-800: rgba(255, 255, 255, 0.8);
   --whiteColor-700: rgba(255, 255, 255, 0.7);
   --whiteColor-600: rgba(255, 255, 255, 0.6);
   --whiteColor-500: rgba(255, 255, 255, 0.5);
   --whiteColor-400: rgba(255, 255, 255, 0.4);
   --whiteColor-300: rgba(255, 255, 255, 0.3);
   --whiteColor-200: rgba(255, 255, 255, 0.2);
   --whiteColor-100: rgba(255, 255, 255, 0.1);
   --grayColor: rgba(32, 32, 32, 1);
   --grayColor-900: rgba(32, 32, 32, 0.9);
   --grayColor-800: rgba(32, 32, 32, 0.8);
   --grayColor-700: rgba(32, 32, 32, 0.7);
   --grayColor-600: rgba(32, 32, 32, 0.6);
   --grayColor-500: rgba(32, 32, 32, 0.5);
   --grayColor-400: rgba(32, 32, 32, 0.4);
   --grayColor-300: rgba(32, 32, 32, 0.3);
   --grayColor-200: rgba(32, 32, 32, 0.2);
   --grayColor-100: rgba(32, 32, 32, 0.1);
   --grayLightColor: rgba(210, 215, 223, 1);
   --grayLightColor-900: rgba(210, 215, 223, 0.9);
   --grayLightColor-800: rgba(210, 215, 223, 0.8);
   --grayLightColor-700: rgba(210, 215, 223, 0.7);
   --grayLightColor-600: rgba(210, 215, 223, 0.6);
   --grayLightColor-500: rgba(210, 215, 223, 0.5);
   --grayLightColor-400: rgba(210, 215, 223, 0.4);
   --grayLightColor-300: rgba(210, 215, 223, 0.3);
   --grayLightColor-200: rgba(210, 215, 223, 0.2);
   --grayLightColor-100: rgba(210, 215, 223, 0.1);
   --blueColor: rgba(58, 12, 163, 1);
   --blueColor-900: rgba(58, 12, 163, 0.9);
   --blueColor-800: rgba(58, 12, 163, 0.8);
   --blueColor-700: rgba(58, 12, 163, 0.7);
   --blueColor-600: rgba(58, 12, 163, 0.6);
   --blueColor-500: rgba(58, 12, 163, 0.5);
   --blueColor-400: rgba(58, 12, 163, 0.4);
   --blueColor-300: rgba(58, 12, 163, 0.3);
   --blueColor-200: rgba(58, 12, 163, 0.2);
   --blueColor-100: rgba(58, 12, 163, 0.1);
   --blueLightColor: rgba(67, 97, 238, 1);
   --blueLightColor-900: rgba(67, 97, 238, 0.9);
   --blueLightColor-800: rgba(67, 97, 238, 0.8);
   --blueLightColor-700: rgba(67, 97, 238, 0.7);
   --blueLightColor-600: rgba(67, 97, 238, 0.6);
   --blueLightColor-500: rgba(67, 97, 238, 0.5);
   --blueLightColor-400: rgba(67, 97, 238, 0.4);
   --blueLightColor-300: rgba(67, 97, 238, 0.3);
   --blueLightColor-200: rgba(67, 97, 238, 0.2);
   --blueLightColor-100: rgba(67, 97, 238, 0.1);
   --blueDarkColor: rgba(3, 4, 94, 1);
   --blueDarkColor-900: rgba(3, 4, 94, 0.9);
   --blueDarkColor-800: rgba(3, 4, 94, 0.8);
   --blueDarkColor-700: rgba(3, 4, 94, 0.7);
   --blueDarkColor-600: rgba(3, 4, 94, 0.6);
   --blueDarkColor-500: rgba(3, 4, 94, 0.5);
   --blueDarkColor-400: rgba(3, 4, 94, 0.4);
   --blueDarkColor-300: rgba(3, 4, 94, 0.3);
   --blueDarkColor-200: rgba(3, 4, 94, 0.2);
   --blueDarkColor-100: rgba(3, 4, 94, 0.1);
   --pinkColor: rgba(247, 37, 133, 1);
   --pinkColor-900: rgba(247, 37, 133, 0.9);
   --pinkColor-800: rgba(247, 37, 133, 0.8);
   --pinkColor-700: rgba(247, 37, 133, 0.7);
   --pinkColor-600: rgba(247, 37, 133, 0.6);
   --pinkColor-500: rgba(247, 37, 133, 0.5);
   --pinkColor-400: rgba(247, 37, 133, 0.4);
   --pinkColor-300: rgba(247, 37, 133, 0.3);
   --pinkColor-200: rgba(247, 37, 133, 0.2);
   --pinkColor-100: rgba(247, 37, 133, 0.1);
   --purpleColor: rgba(114, 9, 183, 1);
   --purpleColor-900: rgba(114, 9, 183, 0.9);
   --purpleColor-800: rgba(114, 9, 183, 0.8);
   --purpleColor-700: rgba(114, 9, 183, 0.7);
   --purpleColor-600: rgba(114, 9, 183, 0.6);
   --purpleColor-500: rgba(114, 9, 183, 0.5);
   --purpleColor-400: rgba(114, 9, 183, 0.4);
   --purpleColor-300: rgba(114, 9, 183, 0.3);
   --purpleColor-200: rgba(114, 9, 183, 0.2);
   --purpleColor-100: rgba(114, 9, 183, 0.1);

   /* FONT WEIGHT */
   --weight-900: 900;
   --weight-800: 800;
   --weight-700: 700;
   --weight-600: 600;
   --weight-500: 500;
   --weight-400: 400;
   --weight-300: 300;

   /* SIZE */
   --size-32: 3.2rem;
   --size-24: 2.4rem;
   --size-16: 1.6rem;
   --size-15: 1.5rem;
   --size-14: 1.4rem;
   --size-13: 1.3rem;
   --size-12: 1.2rem;
   --size-11: 1.1rem;
   --size-10: 1rem;
   --size-8: 0.8rem;

   /* FONT FAMILY */
   --fontfamily-montserrat: "Montserrat", sans-serif;
}

* {
   color: var(--blueDarkColor);
   font-family: var(--fontfamily-montserrat);
   font-weight: var(--weight-400);
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-size: var(--size-14);
}

html {
   font-size: 62.5%;
}
.form-required {
   color: var(--pinkColor);
   font-size: var(--size-12);
}

.flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.ant-select-selection-item-remove svg {
   font-size: var(--size-10);
}

/* Ulities */

.pt-8 {
   padding-top: var(--size-8);
}
.pt-10 {
   padding-top: var(--size-10);
}
.pt-12 {
   padding-top: var(--size-12);
}
.pt-16 {
   padding-top: var(--size-16);
}
.pt-24 {
   padding-top: var(--size-24);
}
.pt-32 {
   padding-top: var(--size-32);
}
.pb-8 {
   padding-bottom: var(--size-8);
}
.pb-10 {
   padding-bottom: var(--size-10);
}
.pb-12 {
   padding-bottom: var(--size-12);
}
.pb-16 {
   padding-bottom: var(--size-16);
}
.pb-24 {
   padding-bottom: var(--size-24);
}
.pb-32 {
   padding-bottom: var(--size-32);
}
.pr-8 {
   padding-right: var(--size-8);
}
.pr-10 {
   padding-right: var(--size-10);
}
.pr-12 {
   padding-right: var(--size-12);
}
.pr-16 {
   padding-right: var(--size-16);
}
.pr-24 {
   padding-right: var(--size-24);
}
.pr-32 {
   padding-right: var(--size-32);
}
.pl-8 {
   padding-left: var(--size-8);
}
.pl-10 {
   padding-left: var(--size-10);
}
.pl-12 {
   padding-left: var(--size-12);
}
.pl-16 {
   padding-left: var(--size-16);
}
.pl-24 {
   padding-left: var(--size-24);
}
.pl-32 {
   padding-left: var(--size-32);
}
/* MARGIN */
.mt-8 {
   margin-top: var(--size-8);
}
.mt-10 {
   margin-top: var(--size-10);
}
.mt-12 {
   margin-top: var(--size-12);
}
.mt-16 {
   margin-top: var(--size-16);
}
.mt-24 {
   margin-top: var(--size-24);
}
.mt-32 {
   margin-top: var(--size-32);
}
.mb-8 {
   margin-bottom: var(--size-8);
}
.mb-10 {
   margin-bottom: var(--size-10);
}
.mb-12 {
   margin-bottom: var(--size-12);
}
.mb-16 {
   margin-bottom: var(--size-16);
}
.mb-24 {
   margin-bottom: var(--size-24);
}
.mb-32 {
   margin-bottom: var(--size-32);
}
.mr-8 {
   margin-right: var(--size-8);
}
.mr-10 {
   margin-right: var(--size-10);
}
.mr-12 {
   margin-right: var(--size-12);
}
.mr-16 {
   margin-right: var(--size-16);
}
.mr-24 {
   margin-right: var(--size-24);
}
.mr-32 {
   margin-right: var(--size-32);
}
.ml-8 {
   margin-left: var(--size-8);
}
.ml-10 {
   margin-left: var(--size-10);
}
.ml-12 {
   margin-left: var(--size-12);
}
.ml-16 {
   margin-left: var(--size-16);
}
.ml-24 {
   margin-left: var(--size-24);
}
.ml-32 {
   margin-left: var(--size-32);
}

/* ROUNDED */
.rounded-8 {
   border-radius: var(--size-8);
}
.rounded-10 {
   border-radius: var(--size-10);
}
.rounded-12 {
   border-radius: var(--size-12);
}
.rounded-16 {
   border-radius: var(--size-16);
}
.rounded-24 {
   border-radius: var(--size-24);
}
.rounded-32 {
   border-radius: var(--size-32);
}
