.breadcumb {
   width: 100%;
   padding: var(--size-16);
   background-color: var(--whiteColor);
   border-radius: var(--size-10);
   min-height: 6.6rem;
   position: sticky;
   margin-top: var(--size-16);
   min-width: 50rem;
}
.breadcumb-left {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.breadcumb-right {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
